extends layout

block head
    script(type='text/babel', src='/javascripts/index.js')

block content
    div.starter-template
        br
        h1.text-center #{title}
        br
        p.text-center coap-shepherd is an implementation of CoAP device management Server with Node.js
        p.text-center that follows part of LWM2M specification to achieve machine network management. 

    
