doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(rel='stylesheet', href='/stylesheets/bootstrap.min.css', media='screen')
        link(rel='stylesheet', href='/stylesheets/bootstrap-theme.min.css', media='screen')
        link(href='/bower_components/bootstrap/dist/css/bootstrap.min.css', rel='stylesheet')
        link(href='/bower_components/metisMenu/dist/metisMenu.min.css', rel='stylesheet')
        link(href='/dist/css/sb-admin-2.css', rel='stylesheet')
        link(href='/bower_components/font-awesome/css/font-awesome.min.css', rel='stylesheet', type='text/css')

        script(type='text/javascript', src='/javascripts/jquery-2.1.3.min.js')
        script(type='text/javascript', src='/javascripts/bootstrap.min.js')
        script(type='text/javascript', src='/bower_components/metisMenu/dist/metisMenu.min.js')
        script(type='text/javascript', src='/dist/js/sb-admin-2.js')
        script(type='text/javascript', src='/socket.io/socket.io.js')

        script(src='https://fb.me/react-15.0.1.js')
        script(src='https://fb.me/react-dom-15.0.1.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.0.0/lodash.min.js')

        block head

    body
        nav.navbar.navbar-default.navbar-fixed-top
            div.container
                div.navbar-header.page-scroll
                    button(type='button', class='navbar-toggle',  data-toggle='collapse', data-target='.navbar-collapse', aria-expanded='false', aria-controls='navbar')
                        span.sr-only Toggle navigation
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                    a.navbar-brand(href='/') Coap-shepherd

                div.collapse.navbar-collapse
                    ul.nav.navbar-nav
                        li
                            a(href='/') Home
                        li
                            a(href='/dev') Devices
                        li
                            a(href='/observe') Observe
                        li  
                            a(href='/contact') Contact

        div.container
            block content

